In [1]:
'''
文本数据
Pandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作
'''

'\n文本数据\nPandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作\n'

In [7]:
# 通过str访问， 且自动排除丢失/na值
import numpy as np
import pandas as pd

s = pd.Series(['A','B','C','bbhello','123',np.nan,'hi'])

df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})
print(s)
print(df)
print('---------------------')

print(s.str.count('b'))
print(df['key2'].str.upper())
    # 直接通过.str调用字符串方法
    # 可以对Series、DataFrame 使用
    
df.columns = df.columns.str.upper()
print(df)
    # df.columns 是一个index对象，也可使用.str

0          A
1          B
2          C
3    bbhello
4        123
5        NaN
6         hi
dtype: object
  key1  key2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN
---------------------
0    0.0
1    0.0
2    0.0
3    2.0
4    0.0
5    NaN
6    0.0
dtype: float64
0     HEE
1      FV
2       W
3    HIJA
4     123
5     NaN
Name: key2, dtype: object
  KEY1  KEY2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN

In [15]:
# 字符串常用方法   lower  upper len startswith  endswith

s = pd.Series(['A','b','bbhello','123',np.nan])
print(s)

print(s.str.lower(),'lower小写')
print(s.str.upper(),'upper大写')
print(s.str.len(),'---len字符长度')
print(s.str.startswith('b'),'----判断起始是否为b')
print(s.str.endswith('3'),'-----判断结束是否为3')

0          A
1          b
2    bbhello
3        123
4        NaN
dtype: object
0          a
1          b
2    bbhello
3        123
4        NaN
dtype: object lower小写
0          A
1          B
2    BBHELLO
3        123
4        NaN
dtype: object upper大写
0    1.0
1    1.0
2    7.0
3    3.0
4    NaN
dtype: float64 ---len字符长度
0    False
1     True
2     True
3    False
4      NaN
dtype: object ----判断起始是否为b
0    False
1    False
2    False
3     True
4      NaN
dtype: object -----判断结束是否为3

In [29]:
# 字符串常用方法   strip

s = pd.Series([' jack','jil l','  jesse  ','frank'])

df = pd.DataFrame(np.random.rand(3,2),
                 columns=[' Column  A','Column  B  '],
                 index = range(3))
print(s)
print(df)
print('....................................')

print(s.str.strip())  # 去除字符串中的空格
print(s.str.lstrip()) # 去除字符串中的左空格
print(s.str.rstrip()) # 去除字符串中的右空格

df.columns=df.columns.str.strip()
print(df)
    # 这里去掉了columns的前后空格，但没有去掉中间空格

0         jack
1        jil l
2      jesse
3        frank
dtype: object
    Column  A  Column  B
0    0.093397     0.382363
1    0.691015     0.943837
2    0.879433     0.356941
....................................
0     jack
1    jil l
2    jesse
3    frank
dtype: object
0       jack
1      jil l
2    jesse
3      frank
dtype: object
0       jack
1      jil l
2      jesse
3      frank
dtype: object
   Column  A  Column  B
0   0.093397   0.382363
1   0.691015   0.943837
2   0.879433   0.356941

In [31]:
# 字符串常用方法  -replace

df = pd.DataFrame(np.random.rand(3,2),
                 columns=['  Column A ',' Columns B '],
                 index = range(3))
df.columns=df.columns.str.replace(' ','-')
print(df)
    # 替换

df.columns=df.columns.str.replace('-','hehe',n=1)
print(df)
 # n 替换个数

   --Column-A-  -Columns-B-
0     0.176200     0.569480
1     0.532171     0.847236
2     0.095675     0.923350
   hehe-Column-A-  heheColumns-B-
0        0.176200        0.569480
1        0.532171        0.847236
2        0.095675        0.923350

In [39]:
# 字符串常用方法   -split  rsplit

s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
print(s.str.split(','))
print('...................')
    # 类似字符串的split

print(s.str.split(',')[0])
print('.....2..........')
   # 直接索引得到一个list

print(s.str.split(',').str[0])
print(s.str.split(',').str.get(1))
print('........3..........')
    # 可以使用get或[]符号访问拆分列表中的元素
print(s.str.split(',', expand=True))
print(s.str.split(',', expand=True, n = 1))
print(s.str.rsplit(',', expand=True, n = 1))
print('--4---')
    # 可以使用expand可以轻松扩展此操作以返回DataFrame
    # n参数限制分割数
    # rsplit类似于split，反向工作，即从字符串的末尾到字符串的开头

df = pd.DataFrame({'key1':['a,b,c','1,2,3',[':,., ']],
                  'key2':['a-b-c','1-2-3',[':-.- ']]})
print(df['key2'].str.split('-'))
# Dataframe使用split

0    [a, b, c]
1    [1, 2, 3]
2          NaN
3          NaN
dtype: object
...................
['a', 'b', 'c']
.....2..........
0      a
1      1
2    NaN
3    NaN
dtype: object
0      b
1      2
2    NaN
3    NaN
dtype: object
........3..........
     0    1    2
0    a    b    c
1    1    2    3
2  NaN  NaN  NaN
3  NaN  NaN  NaN
     0    1
0    a  b,c
1    1  2,3
2  NaN  NaN
3  NaN  NaN
     0    1
0  a,b    c
1  1,2    3
2  NaN  NaN
3  NaN  NaN
--4---
0    [a, b, c]
1    [1, 2, 3]
2          NaN
Name: key2, dtype: object

In [46]:
# 字符串索引

s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})

print(s.str[0])   # 取第一个字符串
print(s.str[:2])  # 取前两个字符串
print(df['key2'].str[0])
                # str之后和字符串本身索引方式相同

0      A
1      b
2      C
3      b
4      1
5    NaN
6      h
dtype: object
0      A
1      b
2      C
3     bb
4     12
5    NaN
6     hj
dtype: object
0      h
1      f
2      w
3      h
4      1
5    NaN
Name: key2, dtype: object

In [47]:
#如图创建一个Dataframe，并分别通过字符串常用方法得到3个Series或得到新的Dataframe：
#① name字段首字母全部大写
#② gender字段去除所有空格
#③ score字段按照-拆分，分别是math，english，art三个学分
df = pd.DataFrame({'name':['jack','tom','Marry','zack','heheda'],
                  'gender':['M ','M','   F','  M ','  F'],
                  'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
print(df)

     name gender     score
0    jack     M   90-92-89
1     tom      M  89-78-88
2   Marry      F  90-92-95
3    zack     M   78-88-76
4  heheda      F  60-60-67

In [53]:
df = pd.DataFrame({'name':['jack','tom','Marry','zack','heheda'],
                  'gender':['M ','M','   F','  M ','  F'],
                  'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
print(df)

df['name'] = df['name'].str.upper()
print(df)
df['gender'] = df['gender'].str.strip()
print(df)
df['math'] = df['score'].str.split('-', expand=True)[0]
print(df)
df['english'] = df['score'].str.split('-', expand=True)[1]
print(df)
df['art'] = df['score'].str.split('-', expand=True)[2]
print(df)

del df['score']
print(df)

     name gender     score
0    jack     M   90-92-89
1     tom      M  89-78-88
2   Marry      F  90-92-95
3    zack     M   78-88-76
4  heheda      F  60-60-67
     name gender     score
0    JACK     M   90-92-89
1     TOM      M  89-78-88
2   MARRY      F  90-92-95
3    ZACK     M   78-88-76
4  HEHEDA      F  60-60-67
     name gender     score
0    JACK      M  90-92-89
1     TOM      M  89-78-88
2   MARRY      F  90-92-95
3    ZACK      M  78-88-76
4  HEHEDA      F  60-60-67
     name gender     score math
0    JACK      M  90-92-89   90
1     TOM      M  89-78-88   89
2   MARRY      F  90-92-95   90
3    ZACK      M  78-88-76   78
4  HEHEDA      F  60-60-67   60
     name gender     score math english
0    JACK      M  90-92-89   90      92
1     TOM      M  89-78-88   89      78
2   MARRY      F  90-92-95   90      92
3    ZACK      M  78-88-76   78      88
4  HEHEDA      F  60-60-67   60      60
     name gender     score math english art
0    JACK      M  90-92-89   90      92  89
1     TOM      M  89-78-88   89      78  88
2   MARRY      F  90-92-95   90      92  95
3    ZACK      M  78-88-76   78      88  76
4  HEHEDA      F  60-60-67   60      60  67
     name gender math english art
0    JACK      M   90      92  89
1     TOM      M   89      78  88
2   MARRY      F   90      92  95
3    ZACK      M   78      88  76
4  HEHEDA      F   60      60  67