In [3]:
"""
Pandas数据结构DataFrame：索引
DataFrame即有行索引也有列索引，可以被看作由Series组成的字典（共用一个索引）

选择列、选择行、切片、布尔判断
"""

'\nPandas数据结构DataFrame：索引\nDataFrame即有行索引也有列索引，可以被看作由Series组成的字典（共用一个索引）\n\n选择列、选择行、切片、布尔判断\n'

In [4]:
import numpy as np
import pandas as pd

In [18]:
# 选择行与列
df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                 index=['one','two','three'],
                 columns=['a','b','c','d'])
print(df)
print('--------------fgx-1--------')
data1 = df['a']
print(data1,type(data1))
print('--------------fgx-2--------')
data2=df[['a','c']]              #双中括号
print(data2,type(data2))
    # 按照列名选择列，只选择一列输出Series，选择多列输出DataFrame;
print('--------------fgx-3--------')
data3=df.loc['one']
print(data3,type(data3))
print('--------------fgx-4--------')
data4=df.loc[['one','three']]    #双中括号
print(data4,type(data4))

               a         b          c          d
one    73.653417  82.93020  66.423761  91.469201
two    20.838579  73.30973  93.488844  56.351450
three  19.299775  94.54470  84.519301  93.149101
--------------fgx-1--------
one      73.653417
two      20.838579
three    19.299775
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
--------------fgx-2--------
               a          c
one    73.653417  66.423761
two    20.838579  93.488844
three  19.299775  84.519301 <class 'pandas.core.frame.DataFrame'>
--------------fgx-3--------
a    73.653417
b    82.930200
c    66.423761
d    91.469201
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
--------------fgx-4--------
               a        b          c          d
one    73.653417  82.9302  66.423761  91.469201
three  19.299775  94.5447  84.519301  93.149101 <class 'pandas.core.frame.DataFrame'>

In [26]:
# df[]  选择列
# 一般用于选择列，也可以选择行

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                 index=['one','two','three'],
                 columns=['a','b','c','d'])
print(df)
print('------分割线--1--------------------')

data1 = df['a']
data2 = df[['b','c']]  # 尝试输入 data2 = df[['b','c','e']]
print(data1)
print(data2)
    # df[]默认选择列，[]中写列名（所以一般数据columns都会单独制定，不会用默认数字列名，以免和index冲突）
    # 单选列为Series，print结果为Series格式
    # 多选列为DataFrame，print结果为DataFrame格式
print('------分割线--2--------------------')

data3=df[:1]
print(data3,type(data3))
    # df[]中为数字时，默认选择行，且只能进行切片的选择，不能单独选择。（df[0])
    # 数据结果为DataFrame，即便只选择一行。
    # df[]不能通过索引标签名来选择行 df['one']
    
    ###核心笔记：df[col]一般用于选择列，[]中写列名

               a          b          c          d
one    52.020812  91.500135  80.910576  82.592957
two    81.366739  44.050876  17.587026  90.917660
three  61.229102  85.090220  94.553000  84.296717
------分割线--1--------------------
one      52.020812
two      81.366739
three    61.229102
Name: a, dtype: float64
               b          c
one    91.500135  80.910576
two    44.050876  17.587026
three  85.090220  94.553000
------分割线--2--------------------
             a          b          c          d
one  52.020812  91.500135  80.910576  82.592957 <class 'pandas.core.frame.DataFrame'>

In [43]:
# df.loc[]   按index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=['one','two','three','four'],
                  columns=['a','b','c','d'])

df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  columns=['a','b','c','d'])

print(df1)
print(df2)
print('........................分割线...............................')

data1 = df1.loc['one']
print(data1,type(data1))
print('..........分割线2..................')

data2 = df2.loc[1]
print(data2,type(data1))
    # 单个标签索引，返回Series    
    
print('........................分割线3...............................')

data3 = df1.loc[['two','three']]
print(data3)

data4= df2.loc[[3,2,1]]
print(data4)
    # 多个标签索引，如果标签不存在，则返回NaN（自己测试报错）
    # 顺序可变
print('........................分割线4.........................')

data5 = df1.loc['one':'three']
print(data5)

data6 =df2.loc[1:3]
print(data6)
print('切片索引')
    #可以做切片对象
    #切片首末均包含
    
#核心笔记： df.loc[]主要针对index选择行，通知支持指定index，及默认数字。

               a          b          c          d
one    50.721368  13.627735  40.687840  19.035268
two    85.940590  65.840855  29.000521  61.841011
three  36.415940  17.582261  49.632056  12.677988
four    8.464321  14.050238  65.904091  77.720542
           a          b          c          d
0  21.314143  62.961886  52.387880   5.172236
1  59.829401  83.284049  69.751763  81.482492
2  88.344320  95.802364  65.385654  58.039725
3  53.726211  31.881767  71.723111   0.359121
........................分割线...............................
a    50.721368
b    13.627735
c    40.687840
d    19.035268
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
..........分割线2..................
a    59.829401
b    83.284049
c    69.751763
d    81.482492
Name: 1, dtype: float64 <class 'pandas.core.series.Series'>
........................分割线3...............................
              a          b          c          d
two    85.94059  65.840855  29.000521  61.841011
three  36.41594  17.582261  49.632056  12.677988
           a          b          c          d
3  53.726211  31.881767  71.723111   0.359121
2  88.344320  95.802364  65.385654  58.039725
1  59.829401  83.284049  69.751763  81.482492
........................分割线4.........................
               a          b          c          d
one    50.721368  13.627735  40.687840  19.035268
two    85.940590  65.840855  29.000521  61.841011
three  36.415940  17.582261  49.632056  12.677988
           a          b          c          d
1  59.829401  83.284049  69.751763  81.482492
2  88.344320  95.802364  65.385654  58.039725
3  53.726211  31.881767  71.723111   0.359121
切片索引

In [62]:
 # df.iloc[] -按照整数位置（从轴的0到length-1）选择行
 # 类似list的索引，其顺序就是DataFrame的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=['one','two','three','four'],
                  columns=['a','b','c','d'])
print(df)
print('...............................')

print(df.iloc[1])
print('...............2............')
print(df.iloc[-1])
    #单位置索引
    # 和loc索引不同，不能索引超出数据行数的位置。
print('................3...............')
        
print(df.iloc[[0,2]])
print(df.iloc[[3,2,1]])
    #多位置索引
    # 顺序可变
print('................3...............')

print(df.iloc[1:3])
print(df.iloc[::2])
    #切片索引
    # 左闭右开

               a          b          c          d
one    24.101100  35.322566  76.392143  13.149242
two     9.443685  78.603684  26.568527  59.498632
three  88.837460  16.095520  80.343078  93.762704
four   38.473715  29.178750  12.971180  10.290244
...............................
a     9.443685
b    78.603684
c    26.568527
d    59.498632
Name: two, dtype: float64
...............2............
a    38.473715
b    29.178750
c    12.971180
d    10.290244
Name: four, dtype: float64
................3...............
              a          b          c          d
one    24.10110  35.322566  76.392143  13.149242
three  88.83746  16.095520  80.343078  93.762704
               a          b          c          d
four   38.473715  29.178750  12.971180  10.290244
three  88.837460  16.095520  80.343078  93.762704
two     9.443685  78.603684  26.568527  59.498632
................3...............
               a          b          c          d
two     9.443685  78.603684  26.568527  59.498632
three  88.837460  16.095520  80.343078  93.762704
              a          b          c          d
one    24.10110  35.322566  76.392143  13.149242
three  88.83746  16.095520  80.343078  93.762704

In [73]:
# 布尔型索引
# 和Series 原理相同

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 index =['one','two','three','four'],
                 columns=['a','b','c','d'])
print(df)
print('----------------------------------')

b1 = df<20
print(b1,type(b1))
print(df[b1])  # 也可以书写为df[df<20]
    #不做索引则会对数据每个值进行判断
    #索引结果保留 所有数据；True返回原数据，False返回值为NaN
    
print('----------------------------------')
b2 = df['a']>50
print(b2,type(b2))
print(df[b2])
    # 单列做判断
    # 索引结果保留，单列判断为True的行数据，包括其他列
print('----------------------------------')

b3 = df[['a','b']]>50
print(b3,type(b3))
print(df[b3])
    # 多列做判断
    # 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b4 =df.loc[['one','three']]<50
print(b4,type(b4))
print(df[b4])  
    # 多行做判断
    # 索引结果保留所有数据：True返回原数据，False返回值为NaN

               a          b          c          d
one    58.698251  81.293845  43.182923  38.688042
two    32.801751  78.076696  89.943392  99.248982
three  79.350616  35.018212  64.679944  91.363261
four   68.239136  71.684258  25.188002  79.932155
----------------------------------
           a      b      c      d
one    False  False  False  False
two    False  False  False  False
three  False  False  False  False
four   False  False  False  False <class 'pandas.core.frame.DataFrame'>
        a   b   c   d
one   NaN NaN NaN NaN
two   NaN NaN NaN NaN
three NaN NaN NaN NaN
four  NaN NaN NaN NaN
----------------------------------
one       True
two      False
three     True
four      True
Name: a, dtype: bool <class 'pandas.core.series.Series'>
               a          b          c          d
one    58.698251  81.293845  43.182923  38.688042
three  79.350616  35.018212  64.679944  91.363261
four   68.239136  71.684258  25.188002  79.932155
----------------------------------
           a      b
one     True   True
two    False   True
three   True  False
four    True   True <class 'pandas.core.frame.DataFrame'>
               a          b   c   d
one    58.698251  81.293845 NaN NaN
two          NaN  78.076696 NaN NaN
three  79.350616        NaN NaN NaN
four   68.239136  71.684258 NaN NaN
           a      b      c      d
one    False  False   True   True
three  False   True  False  False <class 'pandas.core.frame.DataFrame'>
        a          b          c          d
one   NaN        NaN  43.182923  38.688042
two   NaN        NaN        NaN        NaN
three NaN  35.018212        NaN        NaN
four  NaN        NaN        NaN        NaN

In [80]:
# 多重索引，比如同时索引行和列
# 先选择行再选择列 —— 相当于对于一个数据，先筛选字段，在选择数据量
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])   #选择a列的one、three行
print(df[['b','c','d']].iloc[::2])    #选择b、c、d列的 one、three行
print(df[df['a']<50].iloc[:2])      # 选择满足判断索引的前两行数据

               a          b          c          d
one     1.616035  61.928194   0.887149  28.665893
two    22.437584   1.063654   3.264088  93.474081
three  97.849872  72.160103  48.127822  48.732527
four   69.577781  81.737867  10.815263  89.861221
------
one       1.616035
three    97.849872
Name: a, dtype: float64
               b          c          d
one    61.928194   0.887149  28.665893
three  72.160103  48.127822  48.732527
             a          b         c          d
one   1.616035  61.928194  0.887149  28.665893
two  22.437584   1.063654  3.264088  93.474081

In [81]:
'''
作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值

① 索引得到b，c列的所有值

② 索引得到第三第四行的数据

③ 按顺序索引得到two，one行的值
④ 索引得到大于50的值
'''

'\n作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值\n\n① 索引得到b，c列的所有值\n\n② 索引得到第三第四行的数据\n\n③ 按顺序索引得到two，one行的值\n④ 索引得到大于50的值\n'

In [106]:
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')
print('① 索引得到b，c列的所有值')
print(df[['b','c']])
print('.....② 索引得到第三第四行的数据....')
print(df.loc[['three','four']])
#print(df.loc[1:3])
print(df[2:4])
print('③ 按顺序索引得到two，one行的值')
print(df.loc[['two','one']])
print('④ 索引得到大于50的值')
print(df[df>50])

               a          b          c          d
one    60.174283  99.293360  56.770624  65.283958
two    23.696065  71.962077  57.263170   5.777485
three  74.271791  76.499899  89.681148   6.840548
four   58.141682  72.533759   0.929512  29.350818
------
① 索引得到b，c列的所有值
               b          c
one    99.293360  56.770624
two    71.962077  57.263170
three  76.499899  89.681148
four   72.533759   0.929512
.....② 索引得到第三第四行的数据....
               a          b          c          d
three  74.271791  76.499899  89.681148   6.840548
four   58.141682  72.533759   0.929512  29.350818
               a          b          c          d
three  74.271791  76.499899  89.681148   6.840548
four   58.141682  72.533759   0.929512  29.350818
③ 按顺序索引得到two，one行的值
             a          b          c          d
two  23.696065  71.962077  57.263170   5.777485
one  60.174283  99.293360  56.770624  65.283958
④ 索引得到大于50的值
               a          b          c          d
one    60.174283  99.293360  56.770624  65.283958
two          NaN  71.962077  57.263170        NaN
three  74.271791  76.499899  89.681148        NaN
four   58.141682  72.533759        NaN        NaN