In [1]:
import numpy as np
import pandas as pd

In [3]:
data = {'Code': ['BABA', '00700.HK', 'AAPL', '600519.SH'],
        'Name': ['阿里巴巴', '腾讯', '苹果', '茅台'],
        'Market': ['US', 'HK', 'US', 'SH'],
        'Price': [185.35, 380.2, 197, 900.2],
        'Currency': ['USD', 'HKD', 'USD', 'CNY']}
df = pd.DataFrame(data)
df.to_csv('pd_csv.csv', index=False)

In [5]:
df2 = pd.read_csv('pd_csv.csv')
df2

        Code  Name Market   Price Currency
0       BABA  阿里巴巴     US  185.35      USD
1   00700.HK    腾讯     HK  380.20      HKD
2       AAPL    苹果     US  197.00      USD
3  600519.SH    茅台     SH  900.20      CNY

In [7]:
my_arr = np.arange(1000000)
my_list = list(range(1000000))

In [8]:
%time for _ in range(10): my_arr2 = my_arr * 2

Wall time: 21.9 ms

In [9]:
%time for _ in range(10): my_list2 = [x * 2 for x in my_list]

Wall time: 829 ms