In [1]:
import pandas as pd

In [3]:
data = pd.read_excel('C:/Users/Administrator/Desktop/python/流量练习数据.xls')
data

   流量来源 来源明细    访客数   支付转化率     客单价
0    一级   -A  35188  0.0998   54.30
1    一级   -B  28467  0.1127   99.93
2    一级   -C  13747  0.0254    0.08
3    一级   -D   5183  0.0247   37.15
4    一级   -E   4361  0.0431   91.73
5    一级   -F   4063  0.1157   65.09
6    一级   -G   2122  0.1027   86.45
7    一级   -H   2041  0.0706   44.07
8    一级   -I   1991  0.1652  104.57
9    一级   -J   1981  0.0575   75.93
10   一级   -K   1958  0.1471   85.03
11   一级   -L   1780  0.1315   98.87
12   一级   -M   1447  0.0104   80.07
13   二级   -A  39048  0.1160   91.91
14   二级   -B   3316  0.0709   66.28
15   二级   -C   2043  0.0504   41.91
16   三级   -A  23140  0.0969   83.75
17   三级   -B  14813  0.2014   82.97
18   四级   -A    216  0.0185   94.25
19   四级   -B     31  0.0000     NaN
20   四级   -C     17  0.0000     NaN
21   四级   -D      3  0.0000     NaN

In [11]:
# 目标：选择“流量来源”等于“一级”的所有行。

data.iloc[0:13,:]

   流量来源 来源明细
0    一级   -A
1    一级   -B
2    一级   -C
3    一级   -D
4    一级   -E
5    一级   -F
6    一级   -G
7    一级   -H
8    一级   -I
9    一级   -J
10   一级   -K
11   一级   -L
12   一级   -M

In [18]:
#目标：我们想要把所有渠道的流量来源和客单价单拎出来看一看。
data.iloc[:,[1,-1]]

data.iloc[:,[1,4]]

   来源明细     客单价
0    -A   54.30
1    -B   99.93
2    -C    0.08
3    -D   37.15
4    -E   91.73
5    -F   65.09
6    -G   86.45
7    -H   44.07
8    -I  104.57
9    -J   75.93
10   -K   85.03
11   -L   98.87
12   -M   80.07
13   -A   91.91
14   -B   66.28
15   -C   41.91
16   -A   83.75
17   -B   82.97
18   -A   94.25
19   -B     NaN
20   -C     NaN
21   -D     NaN

In [22]:
#目标：我们想要看一看二级、三级流量来源、来源明细对应的访客和支付转化率

data.iloc[13:18,0:4]

   流量来源 来源明细    访客数   支付转化率
13   二级   -A  39048  0.1160
14   二级   -B   3316  0.0709
15   二级   -C   2043  0.0504
16   三级   -A  23140  0.0969
17   三级   -B  14813  0.2014

In [29]:
#选择一级渠道的所有行。

data[data['流量来源']=='一级']

data.loc[data['流量来源']=='一级',:]

   流量来源 来源明细    访客数   支付转化率     客单价
0    一级   -A  35188  0.0998   54.30
1    一级   -B  28467  0.1127   99.93
2    一级   -C  13747  0.0254    0.08
3    一级   -D   5183  0.0247   37.15
4    一级   -E   4361  0.0431   91.73
5    一级   -F   4063  0.1157   65.09
6    一级   -G   2122  0.1027   86.45
7    一级   -H   2041  0.0706   44.07
8    一级   -I   1991  0.1652  104.57
9    一级   -J   1981  0.0575   75.93
10   一级   -K   1958  0.1471   85.03
11   一级   -L   1780  0.1315   98.87
12   一级   -M   1447  0.0104   80.07

In [34]:
#场景二：我们想要把所有渠道的流量来源和客单价单拎出来看一看。

data.loc[:,['流量来源','客单价']]

   流量来源     客单价
0    一级   54.30
1    一级   99.93
2    一级    0.08
3    一级   37.15
4    一级   91.73
5    一级   65.09
6    一级   86.45
7    一级   44.07
8    一级  104.57
9    一级   75.93
10   一级   85.03
11   一级   98.87
12   一级   80.07
13   二级   91.91
14   二级   66.28
15   二级   41.91
16   三级   83.75
17   三级   82.97
18   四级   94.25
19   四级     NaN
20   四级     NaN
21   四级     NaN

isin函数，这个函数能够帮助我们快速判断源数据中某一列（Series）的值是否等于列表中的值。拿案例来说，df['流量来源'].isin(['二级','三级'])，判断的是流量来源这一列的值，是否等于“二级”或者“三级”，如果等于（等于任意一个）就返回True，否则返回False。我们再把这个布尔型判断结果传入行参数，就能够很容易的得到流量来源等于二级或者三级的渠道。

In [36]:
#场景三：我们想要提取二级、三级流量来源、来源明细对应的访客和支付转化率。

data.loc[data['流量来源'].isin(['二级','三级']),['流量来源','来源明细','访客数','支付转化率']]

   流量来源 来源明细    访客数   支付转化率
13   二级   -A  39048  0.1160
14   二级   -B   3316  0.0709
15   二级   -C   2043  0.0504
16   三级   -A  23140  0.0969
17   三级   -B  14813  0.2014

In [41]:
data['访客数'].mean()  #平均值
data['访客数'].std()   # 标准差
data['访客数'].median()  # 中位数
data['访客数'].max()    # 最大值
data['访客数'].min()    # 最小值

3

In [45]:
#场景四：对于流量渠道数据，我们真正应该关注的是优质渠道，假如这里我们定义访客数、转化率、客单价都高于平均值渠道是优质渠道，
#那怎么找到这些渠道呢？

print('访客数均值',data['访客数'].mean())
print('转化率均值',data['支付转化率'].mean())
print('客单价均值',data['客单价'].mean())

访客数均值 8498.0
转化率均值 0.07547727272727273
客单价均值 72.86000000000001

In [47]:
data['访客数'] > data['访客数'].mean()

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16     True
17     True
18    False
19    False
20    False
21    False
Name: 访客数, dtype: bool

In [51]:
data.loc[(data['访客数'] > data['访客数'].mean()) & 
          (data['支付转化率'] > data['支付转化率'].mean()) & 
          (data['客单价'] > data['客单价'].mean()),:]

   流量来源 来源明细    访客数   支付转化率    客单价
1    一级   -B  28467  0.1127  99.93
13   二级   -A  39048  0.1160  91.91
16   三级   -A  23140  0.0969  83.75
17   三级   -B  14813  0.2014  82.97

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
流量来源     22 non-null object
来源明细     22 non-null object
访客数      22 non-null int64
支付转化率    22 non-null float64
客单价      19 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 960.0+ bytes

In [55]:
data.describe()

               访客数      支付转化率         客单价
count     22.00000  22.000000   19.000000
mean    8498.00000   0.075477   72.860000
std    12015.23756   0.057865   26.888032
min        3.00000   0.000000    0.080000
25%     1824.50000   0.024875   59.695000
50%     2082.50000   0.070750   82.970000
75%    11606.00000   0.114950   91.820000
max    39048.00000   0.201400  104.570000

In [57]:
data['新增列']=range(1,len(data)+1)
data

   流量来源 来源明细    访客数   支付转化率     客单价  新增列
0    一级   -A  35188  0.0998   54.30    1
1    一级   -B  28467  0.1127   99.93    2
2    一级   -C  13747  0.0254    0.08    3
3    一级   -D   5183  0.0247   37.15    4
4    一级   -E   4361  0.0431   91.73    5
5    一级   -F   4063  0.1157   65.09    6
6    一级   -G   2122  0.1027   86.45    7
7    一级   -H   2041  0.0706   44.07    8
8    一级   -I   1991  0.1652  104.57    9
9    一级   -J   1981  0.0575   75.93   10
10   一级   -K   1958  0.1471   85.03   11
11   一级   -L   1780  0.1315   98.87   12
12   一级   -M   1447  0.0104   80.07   13
13   二级   -A  39048  0.1160   91.91   14
14   二级   -B   3316  0.0709   66.28   15
15   二级   -C   2043  0.0504   41.91   16
16   三级   -A  23140  0.0969   83.75   17
17   三级   -B  14813  0.2014   82.97   18
18   四级   -A    216  0.0185   94.25   19
19   四级   -B     31  0.0000     NaN   20
20   四级   -C     17  0.0000     NaN   21
21   四级   -D      3  0.0000     NaN   22

In [67]:
data
#data.drop('新增列',axis= 1 ,inplace=True)  #不能重复执行

   流量来源 来源明细    访客数   支付转化率     客单价
0    一级   -A  35188  0.0998   54.30
1    一级   -B  28467  0.1127   99.93
2    一级   -C  13747  0.0254    0.08
3    一级   -D   5183  0.0247   37.15
4    一级   -E   4361  0.0431   91.73
5    一级   -F   4063  0.1157   65.09
6    一级   -G   2122  0.1027   86.45
7    一级   -H   2041  0.0706   44.07
8    一级   -I   1991  0.1652  104.57
9    一级   -J   1981  0.0575   75.93
10   一级   -K   1958  0.1471   85.03
11   一级   -L   1780  0.1315   98.87
12   一级   -M   1447  0.0104   80.07
13   二级   -A  39048  0.1160   91.91
14   二级   -B   3316  0.0709   66.28
15   二级   -C   2043  0.0504   41.91
16   三级   -A  23140  0.0969   83.75
17   三级   -B  14813  0.2014   82.97
18   四级   -A    216  0.0185   94.25
19   四级   -B     31  0.0000     NaN
20   四级   -C     17  0.0000     NaN
21   四级   -D      3  0.0000     NaN

In [72]:
#data['客单价','流量来源']
data[['流量来源','客单价']]

   流量来源     客单价
0    一级   54.30
1    一级   99.93
2    一级    0.08
3    一级   37.15
4    一级   91.73
5    一级   65.09
6    一级   86.45
7    一级   44.07
8    一级  104.57
9    一级   75.93
10   一级   85.03
11   一级   98.87
12   一级   80.07
13   二级   91.91
14   二级   66.28
15   二级   41.91
16   三级   83.75
17   三级   82.97
18   四级   94.25
19   四级     NaN
20   四级     NaN
21   四级     NaN

In [81]:
data['日期']='2019-08-26'
data.head()
data.tail()

#pd.to_datetime('2019-09-26')-data['日期']

   流量来源 来源明细    访客数   支付转化率    客单价          日期
17   三级   -B  14813  0.2014  82.97  2019-08-26
18   四级   -A    216  0.0185  94.25  2019-08-26
19   四级   -B     31  0.0000    NaN  2019-08-26
20   四级   -C     17  0.0000    NaN  2019-08-26
21   四级   -D      3  0.0000    NaN  2019-08-26

In [82]:
data['日期']= pd.to_datetime(data['日期'])
data
pd.to_datetime('2019-09-26')-data['日期']  # 日期格式才能求差值；

0    31 days
1    31 days
2    31 days
3    31 days
4    31 days
5    31 days
6    31 days
7    31 days
8    31 days
9    31 days
10   31 days
11   31 days
12   31 days
13   31 days
14   31 days
15   31 days
16   31 days
17   31 days
18   31 days
19   31 days
20   31 days
21   31 days
Name: 日期, dtype: timedelta64[ns]