In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [4]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.24.2
pytest: 4.3.1
pip: 19.0.3
setuptools: 40.8.0
Cython: 0.29.6
numpy: 1.16.2
scipy: 1.2.1
pyarrow: None
xarray: None
IPython: 7.4.0
sphinx: 1.8.5
patsy: 0.5.1
dateutil: 2.8.0
pytz: 2018.9
blosc: None
bottleneck: 1.2.1
tables: 3.5.1
numexpr: 2.6.9
feather: None
matplotlib: 3.0.3
openpyxl: 2.6.1
xlrd: 1.2.0
xlwt: 1.3.0
xlsxwriter: 1.1.5
lxml.etree: 4.3.2
bs4: 4.7.1
html5lib: 1.0.1
sqlalchemy: 1.3.1
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None
gcsfs: None

In [56]:
df = pd.DataFrame({'列1':[100,200],'列2':[300,400]})
df

    列1   列2
0  100  300
1  200  400

In [57]:
df = df.rename({'列1':'列-1','列2':'列-2'},axis='columns')
df

   列-1  列-2
0  100  300
1  200  400

In [58]:
df.columns =['列yi','列er']
df

   列yi  列er
0  100  300
1  200  400

In [59]:
df.columns = df.columns.str.replace('列','lie')
df

   lieyi  lieer
0    100    300
1    200    400

In [60]:
df=df.add_prefix('X_')

In [61]:
df

   X_lieyi  X_lieer
0      100      300
1      200      400

In [47]:
df.add_suffix('_Y')

   lieyi_Y  lieer_Y
0      100      300
1      200      400

In [63]:
import numpy as np
df=pd.DataFrame(np.random.rand(5,8),columns=list('一二三四五六七八'))
df

,一,二,三,四,五,六,七,八
0,0.329878,0.938810,0.718524,0.569755,0.618729,0.219112,0.957132,0.750380
1,0.431671,0.840874,0.318883,0.356212,0.686636,0.884794,0.429943,0.781364
2,0.059314,0.669233,0.737373,0.894241,0.571590,0.979219,0.175870,0.467429
3,0.317953,0.728200,0.779835,0.875638,0.992158,0.780424,0.152231,0.108026
4,0.281841,0.960821,0.936315,0.189769,0.928751,0.972496,0.066191,0.703608

In [66]:
df.loc[::-1].head()

,一,二,三,四,五,六,七,八
4,0.281841,0.960821,0.936315,0.189769,0.928751,0.972496,0.066191,0.703608
3,0.317953,0.728200,0.779835,0.875638,0.992158,0.780424,0.152231,0.108026
2,0.059314,0.669233,0.737373,0.894241,0.571590,0.979219,0.175870,0.467429
1,0.431671,0.840874,0.318883,0.356212,0.686636,0.884794,0.429943,0.781364
0,0.329878,0.938810,0.718524,0.569755,0.618729,0.219112,0.957132,0.750380

In [68]:
df.dtypes

一    float64
二    float64
三    float64
四    float64
五    float64
六    float64
七    float64
八    float64
dtype: object